
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
	<title>n2Mvc Demo</title> 
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	<link rel="stylesheet" type="text/css" href="/css/base.css" media="screen" /> 
	 
	<script type="text/javascript" src="/js/jquery.1.4.min.js"></script>
	<link rel='index' title='' href='/' /> 
	<script type="text/javascript"> 
		$(document).ready(function(){
			$("#pageloading").hide();
		});
	</script>
</head> 
<body> 
	<div id='pageloading'>

	</div>
	<div id="container"> 
		<div id="header">
			<div class="intro"> 
				<h1><a href="/">Nodejs</a></h1>
				<div class="description">Power by Jarrick</div>
			</div>
			<div class="nav"> 
				<ul class="clearfix"> 
					<li class="title">微博：</li> 
					<li><a href="/tweets">新浪微博最新微博</a></li>
				</ul>

			</div>
		</div>
		<div id="content">
            <iframe name="BAPPIframeCanvas100112135061334290181" width="100%" id="BAPPIframeCanvas100112135061334290181" src="http://douban.fm/partner/baidu/doubanradio?bd_user=0&amp;bd_sig=3b9b58c3bd56f6cecc6adc0553dfa771&amp;canvas_pos=search&amp;keyword=%E9%9F%B3%E4%B9%90%E7%94%B5%E5%8F%B0" frameborder="0" scrolling="no" style="background-color: transparent; height: 150px;" allowtransparency="allowtransparency"></iframe>
		</div>
		
